{% extends 'layout.html' %}

{% block content %}
<main id="main">
     <div class="formwrapper">
        <h1 class="title">{{ title }}</h1>
            <form method="POST" action="{{ handler_url }}">
                 {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
                    <div class="form-field">{{ form.search.label }} {{ form.search }}
                        {% if form.search.errors or search_invalid_message is not none %}
                            <ul class="errors">
                                {% if search_invalid_message is not none %}
                                    <li>
                                        {{ search_invalid_message }}
                                    </li>
                                {% endif %}
                                {% for error in form.search.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {{ form.submit }}
            </form>
    </div>
</main>
{% endblock %}