{% extends 'layout.html' %} {% block content %}
<main>
  <h1>
    Welcome to CSFlix heres some words introing it
  </h1>
  <div id="slideshow-container">
		  <div class="mySlides fade">
		    <img id="slide" src="{{ url_for('static', filename='lottie.jpg') }}" alt="playbutton"/>
		  </div>
		  <div class="mySlides fade">
		    <img id="slide" src="{{ url_for('static', filename='playbutton.jpg') }}" alt="playbutton"/>
		  </div>
		  <div class="mySlides fade">
		    <img id="slide" src="{{ url_for('static', filename='lottie.jpg') }}" alt="playbutton"/>
		  </div>
			<br>
		</div>
  <div class="clr"></div>
  <a class="btn-special" href="{{ url_for('authentication_bp.register') }}">Register here!</a>
  <br/>
  <p>Already have an account?</p>
  <a class="btn-special" href="{{ url_for('authentication_bp.login') }}">Login here!</a>
  <p style="text-align: right; font-style: italic;">
    CSFlix by Cameron
  </p>
</main>
{% endblock %}